/*   font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif; */

body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

/* Header */
.header {
    height: 100px;
    border-bottom: 1px solid rgba(194, 194, 194, 0.31);
}

.logo{
    margin-top: 20px;
}

.header-contacts {
    display: flex;
    justify-content: left;
    align-items: center;
}

.icon {
    background-color: #1a9bdc;
    padding: 10px;
    border-radius: 50%;
}

.icon-phone {
    padding: 9px 14px;
}

.phone {
    width: 15px;
}

.contact {
    color: #6a6a6a;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    padding-left: 20px;
}

.hours {
    font-size: 14px;
    padding-left: 13px;
}

.contact p {
    margin-bottom: 0;
}

.contact a {
    color: #6a6a6a;
}

.navbar {
    padding-left: 0;
}

.nav-menu {
    padding-right: 0.8rem;
}

.header-socials {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-socials__logo {
    margin-right: 1rem;
}

.header-socials__logo:last-child {
    margin-right: 0;
}

/* Main-Banner */
.main {
    background: url("../img/Main/bg.png") no-repeat right;
    background-size: cover;
}

.main-info {
    text-align: center;
}

h1 {
    font-family: Montserrat;
    font-weight: 400;
    padding: 0 30px;
    margin: 100px auto 40px;
}

.main-info p {
    padding: 0 50px;
    margin-bottom: 40px
}

.header-button {
    margin-bottom: 170px;
    border: 0;
    background-color: #1a9bdc;
    box-shadow: -4px 12px 40px rgba(0, 1, 1, 0.2);
    color: #fff;
    border-radius: 20px;
    padding: 10px 20px;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

/* Services */
.services {
    text-align: center;
    color: #fff;
}
.service-img {
    display: inline-block;
    background-color: #fff;
    border-radius: 50%;
    padding: 15px;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
}

.service-img__exeption {
    display: inline-block;
    background-color: #fff;
    border-radius: 50%;
    padding: 11px 22px;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
}

.service-one {
    background-color: #43b1d2;
}

.service-two {
    background-color: #3fb6c6;
}

.service-three {
    background-color: #3cbbbb;
}

.service-four {
    background-color: #37c3a8;
}

.services p {
    margin-top: 1rem;
    margin-bottom: 5rem;
}

/* Why choose us */
.choose {
    text-align: center;
    margin: 5rem 6rem 2rem;
}

.choose h2 {
    margin-bottom: 2rem;
}

.choose p {
    line-height: 30px;
}


.points {
    display: flex;
}

.points-prodessional {
    margin-top: 7rem;
}

.points-title {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.points-title__img {
    background-color: #1a9bdc;
    border-radius: 50%;
    padding: 10px;
    margin-right: 1rem;
}

.points-title h3 {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        color: #6f6f6e;
}

/* Best feature */
.best-feature {
    background: url("../img/Best-feature/bg-best-feature.png") no-repeat center;
    background-size: cover;
}

.best-feature__info {
    color: #fff;
    text-align: center;
    margin-top: 7rem;
}

.best-feature__img {
    height: 70px;
    margin-bottom: 2rem;
}

.best-features__digit {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    position: relative;
    margin-bottom: 1.5rem;
}

.best-features__digit::after {
    content: "";
    border: 2px solid #fff;
    position: absolute;
    width: 4rem;
    top: 4rem;
    left: 6rem;
}

.best-feature__benefit {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    margin-bottom: 7rem;
}

/* Text area */
.text-area {
    margin-top: 90px;
}
.text-area h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.textarea-button {
    background: #1a9bdc;
    border-radius: 30px;
    border: 0;
    padding: 5px;
    min-width: 100%;
    margin-bottom: 15px;
}

.butn {
    margin-bottom: 30px;
}
.text-area__creative {
    display: flex;
}

.text-area__creative p {
    margin-bottom: 0;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    margin: 5px 20px;
}

.textarea-img {
    margin-bottom: 2rem;
}

.text-area-container h4 {
    font-family: 'Montserrat', sans-serif;
    color: #6f6f6e;
}

.textarea-blue {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    color:#1c8ec1;
}

.textarea-blue p {
    padding-right: 10px;
}

.textarea-info {
    color: #6f6f6e;
}

.textarea-button__grey {
    background: #e2e2e2;
    border-radius: 30px;
    border: 0;
    padding: 5px;
    min-width: 100%;
    margin-bottom: 15px;
}

.textarea__grey p {
    color: #494949;
}