/*   font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif; */

body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

/* Header */
.header {
    height: 100px;
    border-bottom: 1px solid rgba(194, 194, 194, 0.31);
}

.logo{
    margin-top: 20px;
}

.header-contacts {
    display: flex;
    justify-content: right;
    align-items: center;
}

.contact {
    color: #6a6a6a;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    padding-left: 20px;
}

.hours {
    font-size: 13px;
    padding-left: 13px;
}

.contact p {
    margin-bottom: 0;
}

.contact a {
    color: #6a6a6a;
}

.navbar {
    padding-left: 0;
}

.nav-menu {
    padding-right: 0.8rem;
}

.header-socials {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-socials__logo {
    margin-right: 1rem;
}

.header-socials__logo:last-child {
    margin-right: 0;
}

/* Main */
.main {
    background: url("../img/Main/bg.png") no-repeat right;
    background-size: cover;
}

.main-info {
    text-align: center;
    margin-bottom: 170px;
}

h1 {
    font-family: Montserrat;
    font-weight: 400;
    padding: 0 30px;
    margin: 100px auto 40px;
}

.main-info p {
    padding: 0 50px;
    margin-bottom: 40px;
}

.header-button {
    border: 0;
    background-color: #1a9bdc;
    box-shadow: -4px 12px 40px rgba(0, 1, 1, 0.2);
    color: #fff;
    border-radius: 20px;
    padding: 10px 20px;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

/* Services */
.services {
    text-align: center;
    color: #fff;
}
.service-img {
    display: inline-block;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
}

.service-img__exeption {
    display: inline-block;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
}

.service-one {
    background-color: #43b1d2;
}

.service-two {
    background-color: #3fb6c6;
}

.service-three {
    background-color: #3cbbbb;
}

.service-four {
    background-color: #37c3a8;
}

.services p {
    margin-top: 1rem;
    margin-bottom: 5rem;
}

/* Why choose us */
.choose {
    text-align: center;
    margin: 5rem 6rem 2rem;
}

.choose h2 {
    margin-bottom: 2rem;
}

.choose p {
    line-height: 30px;
}


.points {
    display: flex;
}

.points-prodessional {
    margin-top: 7rem;
}

.points-title {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.points-title__img {
    margin-right: 1rem;
}

.points-title h3 {
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        color: #6f6f6e;
}

/* Best feature */
.best-feature {
    background: url("../img/Best-feature/bg-best-feature.png") no-repeat center;
    background-size: cover;
}

.best-feature__info {
    color: #fff;
    text-align: center;
    margin-top: 7rem;
}

.best-feature__img {
    height: 70px;
    margin-bottom: 2rem;
}

.best-features__digit {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    position: relative;
    margin-bottom: 1.5rem;
}

.best-features__digit::after {
    content: "";
    border: 2px solid #fff;
    position: absolute;
    width: 4rem;
    top: 4rem;
    left: 6rem;
}

.best-feature__benefit {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    margin-bottom: 7rem;
}

/* Text area */
.text-area {
    margin-top: 90px;
}
.text-area h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.text-area__creative {
    display: flex;
    background: #e2e2e2;
    border-radius: 30px !important;
    border: 0 !important;
    padding: 5px;
    min-width: 100%;
    margin-bottom: 15px;
}

.text-area__creativeException {
    display: flex;
    background: #0087be;
    border-radius: 30px !important;
    border: 0 !important;
    padding: 5px;
    min-width: 100%;
    margin-bottom: 15px;
}
.card {
    border: 0;
    margin-bottom: 10px;
}

.btn__title {
    margin-bottom: 0;
    font-family: 'Montserrat', sans-serif !important;
    color: #7c7c7c !important;
}

.btn__titleException {
    margin-bottom: 0;
    font-family: 'Montserrat', sans-serif !important;
    color: #fff !important;
}

.textarea-img {
    margin-bottom: 2rem;
}

.butn {
    margin-bottom: 30px;
}

.text-area-container h4 {
    font-family: 'Montserrat', sans-serif;
    color: #6f6f6e;
}

.textarea-blue {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    color:#1c8ec1;
}

.textarea-blue p {
    padding-right: 10px;
}

.textarea-info {
    color: #6f6f6e;
}

.ta-btn {
    display: flex;
    justify-content: center;
}

.ta-btn button {
    margin-top: 2rem;
    margin-bottom: 6rem;
}

/* Gallery */
.gallery {
    background: url("../img/Gallery/bg-gallery.png") no-repeat center;
    background-size: cover;
}

.gallery-info {
    color: #fff;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.gallery-info h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 2rem;
}

.gallery-first-line {
    margin-bottom: 2rem;
}

.gallery-second-line {
    display: flex;
    margin-bottom: 5rem;
}

.gallery-img:hover {
    transform: scale(1.2);
    transition: 0.5s;
}
/* Our Team */
.our-team__info {
    display: block;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
}
.our-team__info h2 {
    columns: #494949;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 2rem;
}

.our-team__info p {
    color: #767676;
}

.our-team__person {
    color: #6f6f6e;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-bottom: 5rem;
}

.our-team__person:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

.our-team__person h4 {
    margin-top: 1.5rem;
}

.our-team__socials {
    display: flex;
    justify-content: center;
}

.our-team__icon {
    margin-right: 1rem;
}

/* Quick action bar */
.action-bar {
    background-color: #e2e2e2;
}

.action-bar__info {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.action-bar_btn {
    text-align: center;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.action-bar__info h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color:#494949;
}

/* Footer */
.footer {
    background-color: #171717;
}

.footer__title {
    color: #fff;
    margin-top: 5rem;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 3rem;
}

.footer__title h5 {
    font-weight: bold;
    margin-bottom: 2.5rem;
}

.footer_getTouch {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.footer__getTouch-mail {
    margin-left: 2.5rem;
}

.footer__getTouch-tel {
    margin-left: 3rem;
}

.footer__getTouch-mail a, .footer__getTouch-tel a {
    color: #a9a9a9;
}

.footer__getTouch-address {
    color: #a9a9a9;
    font-size: 14px;
    margin-left: 2.5rem;
}

.footer__socials {
    display: flex;
}

.footer-socials__icon {
    margin-right: 1rem;
}

.footer-quick {
    list-style: none;
    padding-left: 0;
}


.footer-quick li {
    margin-bottom: 0.8rem;
}
.footer-quick a {
    color: #a9a9a9;
    margin-left: 1rem;
}

.our-form {
    background-color: transparent;
    background-color: transparent;
    padding-left: 0;
    padding-bottom: 1rem;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    border-bottom: 2px solid #424242;
}

.our-form::placeholder {
    color: #a9a9a9;
}

.our-form__message {
    min-height: 100px;
}

.footer-button {
    padding: 5px 30px;
    font-size: 16px;
    margin-top: 0.5rem;
}